body {
    margin:0;
    background-color: #2f3336;
    color: #efefef;
    font-family:  'lato';
    font-size:17px;
}
/* to jest logo */
h1.logo{
    font-size:44px;
    font-weight: 700;
    text-align:center;
    color:#ddd;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top:0px;
    margin:0px;
    line-height: 132px;
}
/* tu jest tło */
#logotyp{
    background-image: url('img/cartographer.png');
}

/* stylizacja nawigacji */
nav{
    background-color: #1c74b2;
    text-align: center;
}

.menu{
    list-style-type: none;
    margin:0;
    padding:10px;
    font-size:18px;
    min-height:30px;
    line-height:200%;
}

.menu > li {
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    border-right: 1px dashed #0a2b42;
}

.menu >li:first-child{
    border-left: 1px dashed #0a2b42;
}

.menu a {
    color:#fff;
    text-decoration: none;
}

.menu a:hover{
    color:#0a2b42;
}

.subject{
    display:inline-block;
    width: 400px;
    margin:10px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1
{
	font-size: 44px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
    margin-top:0px;
    padding: 10px;
}
.categories
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0px;
    background-color: #191d21;
}
.contact
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	margin-bottom: 50px;
}
.contact p
{
	margin-bottom: 50px;
}
.bluebutton
{
	background-color: #1c74b2;
	padding: 15px;
	color: #efefef;
	font-size: 19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
}
.bluebutton:hover
{
	background-color: #196499;
}
.socials
{
	width: 100%;
	text-align: center;
	background-color: #191d21;
}
.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.fb
{
	width: 250px;
	height: 155px;
	float: left;
}
.fb:hover
{
	background-color: #4668b3;
}
.yt
{
	width: 250px;
	height: 155px;
	float: left;
}
.yt:hover
{
	background-color: #d94348;
}
.tw
{
	width: 250px;
	height: 155px;
	float: left;
}
.tw:hover
{
	background-color: #3095d3;
}
.gplus
{
	width: 250px;
	height: 155px;
	float: left;
}
.gplus:hover
{
	background-color: #d95333;
}
.tilelink
{
	color:#ffffff;
    text-decoration: none;
}
.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}